<%- include('static/header') %>

			<main class="content">
				<div class="container-fluid p-0">

					<h1 class="h3 mb-3">Change Password </h1>

					<div class="row">
						<div class="col-12">
							<div class="card">
								<div class="card-body">
									<div id="msg"></div>
									<form id="changepassword" >
										<label style="margin-bottom: 1%;" >Old Password</label>
                                       <input type="text" class="form-control" id="old_password" style="margin-bottom: 1%;" required>

									   <label style="margin-bottom: 1%;">New Password</label>
									    <input type="password" class="form-control" id="new_password" style="margin-bottom: 1%;" required>


										<label style="margin-bottom: 1%;">Confrim Password</label>
									    <input type="password" class="form-control" id="confirm_password" style="margin-bottom: 1%;" required>

										<input type="submit" value="Change Password"  class="btn btn-primary">
									</form>
								</div>
							</div>
						</div>
					</div>

				</div>.
				
			</main>
 <%- include('static/footer') %>