<!DOCTYPE html>
<html>
<head>
  <title>Web3-Onboard + Vite + EJS</title>
</head>
<body>
  <h1>Web3-Onboard v3 Example</h1>
  <button id="connectBtn">Connect Wallet</button>
  <p id="walletAddress"></p>

  <!-- Load Vite bundle -->
  <script type="module" src="http://localhost:5173/src/main.js"></script>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

</body>
</html>
